.home-description {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;

  &__title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
}

.home-footer {
  margin-top: 2rem;
  text-align: center;

  &__link {
    font-size: 1.2rem;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    margin: 0 8px;

    &:hover {
      text-decoration: underline;
    }
  }
}
